[package]
name = "centerpiece"
description = "Your trusty omnibox search."
version.workspace = true
edition = "2021"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# general
anyhow = { version = "1.0.78", features = ["backtrace"] }
clap = { version = "4.4.16", features = ["derive",] }
log = { version = "0.4.20", features = ["kv_unstable_serde"] }
simple_logger = { version = "4.3.3", features = ["colors", "threads", "timestamps", "stderr"] }

# application window
iced = { version = "0.10.0", features = ["svg"] }

# plugins
async-trait = "0.1.76"
async-std = "1.12.0"

# reading index files
serde = "1.0.193"
serde_json = "1.0.113"

# clock plugin
chrono = "0.4.33"

# applications plugin
freedesktop-desktop-entry = "0.5.0"

# windows plugin
swayipc = "3.0.1"

# system monitor plugin
sysinfo = "0.29.11"
battery = "0.7.8"

# brave history
sqlite = "0.33.0"

# wifi
networkmanager = "0.4.1"
dbus = "0.9.7"
